@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');



*{
    margin: 0px;
    padding: 0px;
}

body{
    
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
}

img {
  width: 100%;
  max-width: 440px;
  height: auto;
  margin: 0px, 0px, 300px, 0px;
}


.title{
    color: red;
    
}

.apresent{
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresent_text{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresent_text_title{
    font-size: 50px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.apresent_text_content{
    font-size: 26px;
    font-family: "Orbitron", sans-serif;
    font-weight: 200;
}

.links{
    display: flex;
    justify-content: space-between;
}

.social_media{
    background-color: rgb(255, 0, 0);
    width: 250px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    color: rgb(65, 7, 7);
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
}